package main

import (
	"flag"
	"fmt"
	"log"

	"{{.AppName}}/{{.BffDirName}}/internal/router"
	"{{.AppName}}/pkg/config"

	"github.com/cloudwego/hertz/pkg/app/server"
)

var confPath string

func init() {
	flag.StringVar(&confPath, "config", "configs/config.yaml", "config file")
}

func main() {
	flag.Parse()
	cfg, err := config.Load(confPath)
	if err != nil {
		log.Fatal(err)
	}
	if cfg == nil {
		log.Fatal("Config is nil - check if config file exists: " + confPath)
	}

	addr := cfg.Server.Host + ":" + fmt.Sprintf("%d", cfg.Server.Port)
	log.Printf("BFF starting on %s", addr)

	h := server.Default(server.WithHostPorts(addr))

	go func() {
		if err := h.Run(); err != nil && err != server.ErrDisabled {
			log.Fatalf("listen: %s\n", err)
		}
	}()

	select {}
}