module {{.ModuleName}}

go {{ default .GoVersion "1.26.2" }}

require (
	github.com/elastic/go-elasticsearch/v8 v8.12.0
	github.com/olivere/elastic/v7 v7.0.32
	github.com/cloudwego/kitex {{ .KitexVersion | default "v0.7.0" }}
	github.com/bytedance/gopkg v0.0.0-20230729134709-227cdbf73f4f
	github.com/cloudwego/hertz v0.7.3
	gopkg.in/yaml.v3 v3.0.1
)

replace github.com/apache/thrift => github.com/apache/thrift v0.13.0