package service

import (
	"context"

	"{{.AppName}}/{{.SrvDirName}}/internal/model"
	"{{.AppName}}/{{.SrvDirName}}/internal/repository"
)

type {{.UpperEntityName}}Service struct { repo *repository.{{.UpperEntityName}}Repo }

func New{{.UpperEntityName}}Service(repo *repository.{{.UpperEntityName}}Repo) *{{.UpperEntityName}}Service {
	return &{{.UpperEntityName}}Service{repo: repo}
}

func (s *{{.UpperEntityName}}Service) Create(ctx context.Context, m *model.{{.UpperEntityName}}) error {
	return s.repo.Create(ctx, m)
}

func (s *{{.UpperEntityName}}Service) Get(ctx context.Context, id {{.PKGoType}}) (*model.{{.UpperEntityName}}, error) {
	return s.repo.GetByID(ctx, {{.PKModelConvert}})
}

func (s *{{.UpperEntityName}}Service) List(ctx context.Context) ([]*model.{{.UpperEntityName}}, error) {
	return s.repo.List(ctx)
}

func (s *{{.UpperEntityName}}Service) Update(ctx context.Context, m *model.{{.UpperEntityName}}) error {
	return s.repo.Update(ctx, m)
}

func (s *{{.UpperEntityName}}Service) Delete(ctx context.Context, id {{.PKGoType}}) error {
	return s.repo.Delete(ctx, {{.PKModelConvert}})
}
