package alipay

const (
    AppID        = "{{.AlipayAppID}}"
    PrivateKey    = "{{.AlipayPrivateKey}}"
    AliPublicKey  = "{{.AlipayPublicKey}}"
    NotifyURL     = "{{.AlipayNotifyURL}}"
    IsProduction  = {{.AlipayIsProduction}}
    ProductCode   = "FAST_INSTANT_TRADE_PAY"
)
