package alipay

import (
    "context"

    "github.com/go-pay/gopay"
    "github.com/go-pay/gopay/alipay"
)

type Provider struct {
    client *alipay.Client
}

func NewProvider(appID, privateKey, alipayPublicKey string, isProduction bool) (*Provider, error) {
    client, err := alipay.NewClient(appID, privateKey, isProduction)
    if err != nil {
        return nil, err
    }
    client.AutoVerifySign([]byte(alipayPublicKey))
    return &Provider{client: client}, nil
}

func (p *Provider) TradePagePay(ctx context.Context, bm gopay.BodyMap) (string, error) {
    return p.client.TradePagePay(ctx, bm)
}

func (p *Provider) TradeQuery(ctx context.Context, bm gopay.BodyMap) (map[string]interface{}, error) {
    return p.client.TradeQuery(ctx, bm)
}

func (p *Provider) VerifySign(signData, signType string) (bool, error) {
    return p.client.VerifySign(signType, []byte(signData))
}
