package service

import (
	"context"

	"{{.ProjectName}}/internal/mq"
	"{{.ProjectName}}/internal/model"
)

// RocketmqProducerService RocketMQ 生产者服务
type RocketmqProducerService interface {
	Send(ctx context.Context, article *model.EbArticle) error
	CheckHealth() error
}

type rocketmqProducerService struct {
	producer *mq.RocketmqProducer
}

// NewRocketmqProducerService 创建服务
func NewRocketmqProducerService(producer *mq.RocketmqProducer) RocketmqProducerService {
	return &rocketmqProducerService{
		producer: producer,
	}
}

// Send 发送文章事件
func (s *rocketmqProducerService) Send(ctx context.Context, article *model.EbArticle) error {
	return s.producer.Send(ctx, article)
}

// CheckHealth 检查健康
func (s *rocketmqProducerService) CheckHealth() error {
	return s.producer.IsHealthy()
}
