apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: {{ .ServiceName }}-mtls
  namespace: {{ .Namespace | default "default" }}
spec:
  selector:
    matchLabels:
      app: {{ .ServiceName }}
  mtls:
    mode: STRICT
