package rpcclient

import (
	"context"
	"fmt"

	"{{.ModuleName}}/common/kitexGen/{{.ProtoImportPath}}"

	"github.com/hashicorp/consul/api"
	"google.golang.org/grpc"
	"google.golang.org/grpc/credentials/insecure"
)

type {{.UpperName}}Client struct {
	conn *grpc.ClientConn
	client {{.ProtoImportPath}}.{{.UpperName}}ServiceClient
}

func New{{.UpperName}}Client() (*{{.UpperName}}Client, error) {
	// 通过 Consul 服务发现获取 SRV 地址
	consulConfig := api.DefaultConfig()
	registryAddr := "{{.RegistryAddr}}"
	if registryAddr != "" {
		consulConfig.Address = registryAddr
	}
	consulClient, err := api.NewClient(consulConfig)
	if err != nil {
		return nil, fmt.Errorf("connect to consul failed: %w", err)
	}
	services, _, err := consulClient.Health().Service("{{.AppName}}", "", true, nil)
	if err != nil || len(services) == 0 {
		return nil, fmt.Errorf("service %s not found in consul", "{{.AppName}}")
	}
	srvAddr := fmt.Sprintf("%s:%d", services[0].Service.Address, services[0].Service.Port)

	conn, err := grpc.Dial(srvAddr, grpc.WithTransportCredentials(insecure.NewCredentials()))
	if err != nil {
		return nil, err
	}
	return &{{.UpperName}}Client{conn: conn, client: {{.ProtoImportPath}}.New{{.UpperName}}ServiceClient(conn)}, nil
}

func (c *{{.UpperName}}Client) Create(ctx context.Context, req *{{.ProtoImportPath}}.Create{{.UpperName}}Req) (*{{.ProtoImportPath}}.Create{{.UpperName}}Resp, error) {
	return c.client.Create(ctx, req)
}

func (c *{{.UpperName}}Client) Get(ctx context.Context, req *{{.ProtoImportPath}}.Get{{.UpperName}}Req) (*{{.ProtoImportPath}}.Get{{.UpperName}}Resp, error) {
	return c.client.Get(ctx, req)
}

func (c *{{.UpperName}}Client) List(ctx context.Context, req *{{.ProtoImportPath}}.List{{.UpperName}}Req) (*{{.ProtoImportPath}}.List{{.UpperName}}Resp, error) {
	return c.client.List(ctx, req)
}

func (c *{{.UpperName}}Client) Update(ctx context.Context, req *{{.ProtoImportPath}}.Update{{.UpperName}}Req) (*{{.ProtoImportPath}}.Update{{.UpperName}}Resp, error) {
	return c.client.Update(ctx, req)
}
{{range .JoinTables}}
func (c *{{.UpperName}}Client) GetWith{{.RightUpper}}(ctx context.Context, req *{{.ProtoImportPath}}.Get{{.UpperName}}With{{.RightUpper}}Req) (*{{.ProtoImportPath}}.Get{{.UpperName}}With{{.RightUpper}}Resp, error) {
	return c.client.GetWith{{.RightUpper}}(ctx, req)
}
{{end}}

func (c *{{.UpperName}}Client) Delete(ctx context.Context, req *{{.ProtoImportPath}}.Delete{{.UpperName}}Req) (*{{.ProtoImportPath}}.Delete{{.UpperName}}Resp, error) {
	return c.client.Delete(ctx, req)
}