package registry

import (
	"context"
	"go.etcd.io/etcd/client/v3"
)

type EtcdRegistry struct {
	client *clientv3.Client
}

func NewEtcdRegistry(client *clientv3.Client) *EtcdRegistry {
	return &EtcdRegistry{client: client}
}

func (r *EtcdRegistry) Register(ctx context.Context, serviceName, addr string) error {
	_, err := r.client.Put(ctx, "/services/"+serviceName, addr)
	return err
}

func (r *EtcdRegistry) Deregister(ctx context.Context, serviceName string) error {
	_, err := r.client.Delete(ctx, "/services/"+serviceName)
	return err
}