package main

import (
	"flag"
	"fmt"
	"log"
	"net"

	"{{.AppName}}/pkg/config"
	"{{.AppName}}/pkg/database"
	"{{.AppName}}/{{.SrvDirName}}/internal/handler"
	"{{.AppName}}/common/kitexGen/{{.Module}}"

	"google.golang.org/grpc"
	"google.golang.org/grpc/reflection"
)

var confPath string

func init() {
	flag.StringVar(&confPath, "config", "configs/config.yaml", "config file")
}

func main() {
	flag.Parse()
	cfg, err := config.Load(confPath)
	if err != nil {
		log.Fatalf("Failed to load config: %v", err)
	}
	if cfg == nil {
		log.Fatal("Config is nil - check if config file exists: " + confPath)
	}
	db, err := database.NewDB(&cfg.Database)
	if err != nil {
		log.Fatalf("Failed to connect database: %v", err)
	}
	if db == nil {
		log.Fatal("Database connection is nil")
	}
	addr := fmt.Sprintf("%s:%d", cfg.Server.Host, cfg.Server.Port)
	lis, err := net.Listen("tcp", addr)
	if err != nil {
		log.Fatalf("Failed to listen: %v", err)
	}
	s := grpc.NewServer()
	{{.Module}}.Register{{.UpperModule}}ServiceServer(s, handler.New{{.UpperModule}}Handler(db))
	reflection.Register(s)
	log.Printf("Starting on %s", addr)
	s.Serve(lis)
}
