// Get{{.LeftUpper}}{{.RightUpper}} 获取联表数据
func (s *{{.LeftUpper}}Service) Get{{.LeftUpper}}{{.RightUpper}}(ctx context.Context, id int64) (*model.Join{{.LeftUpper}}{{.RightUpper}}, error) {
	return s.repo.Find{{.LeftUpper}}2{{.RightUpper}}(ctx, id)
}