package config

import (
	"fmt"
	
	"github.com/nacos-group/nacos-sdk-go/v2/clients"
	"github.com/nacos-group/nacos-sdk-go/v2/clients/config_client"
	"github.com/nacos-group/nacos-sdk-go/v2/common/constant"
	"github.com/nacos-group/nacos-sdk-go/v2/vo"
	"gopkg.in/yaml.v3"
)

// NacosConfig Nacos 配置中心客户端
type NacosConfig struct {
	client config_client.IConfigClient
}

// NewNacosConfig 创建 Nacos 配置客户端
func NewNacosConfig(serverAddrs []string, namespaceId, dataId, group string) (*NacosConfig, error) {
	sc := []constant.ServerConfig{}
	for _, addr := range serverAddrs {
		sc = append(sc, *constant.NewServerConfig(addr, 8848))
	}
	
	cc := constant.ClientConfig{
		NamespaceId: namespaceId,
		TimeoutMs:   5000,
		NotLoadCacheAtStart: true,
		LogDir:      "logs/nacos",
		CacheDir:    "cache/nacos",
		LogLevel:    "debug",
	}
	
	configClient, err := clients.NewConfigClient(
		vo.NacosClientParam{
			ClientConfig:  &cc,
			ServerConfigs: sc,
		},
	)
	if err != nil {
		return nil, fmt.Errorf("failed to create nacos client: %w", err)
	}
	
	return &NacosConfig{client: configClient}, nil
}

// GetConfig 获取配置
func (c *NacosConfig) GetConfig(dataId, group string, target interface{}) error {
	content, err := c.client.GetConfig(vo.ConfigParam{
		DataId: dataId,
		Group:  group,
	})
	if err != nil {
		return fmt.Errorf("failed to get config: %w", err)
	}
	
	return yaml.Unmarshal([]byte(content), target)
}

// ListenConfig 监听配置变化
func (c *NacosConfig) ListenConfig(dataId, group string, callback func(content string)) error {
	return c.client.ListenConfig(vo.ConfigParam{
		DataId: dataId,
		Group:  group,
		OnChange: func(namespace, group, dataId, data string) {
			callback(data)
		},
	})
}
