server:
  host: 0.0.0.0
  port: 8080

registry:
  type: {{.RegistryType}}
  addr: {{.RegistryAddr}}

log:
  level: info
  format: json
{{- if .HasMQ}}
mq:
  type: {{.MQType}}
{{- if eq .MQType "kafka"}}
  brokers:
    - {{.MQHost}}:{{.MQPort}}
{{- else if eq .MQType "rabbitmq"}}
  url: {{.MQType}}://{{.MQUser}}:{{.MQPassword}}@{{.MQHost}}:{{.MQPort}}
{{- else if eq .MQType "rocketmq"}}
  endpoints: {{.MQHost}}:{{.MQPort}}
{{- end}}
  topic: {{.MQTopic}}
{{- if .MQGroup}}
  group_id: {{.MQGroup}}
{{- end}}
{{- end}}
{{- if .HasTracing}}
tracing:
  enabled: true
  endpoint: {{.TraceHost}}:{{.TracePort}}
  service_name: {{.ServiceName}}
{{- end}}