package dto

type ArticleCreateDTO struct {
	Title   string `json:"title"`
	Content string `json:"content"`
}

type ArticleDTO struct {
	ID      int64  `json:"id"`
	Title   string `json:"title"`
	Content string `json:"content"`
}