// Find{{.LeftUpper}}2{{.RightUpper}} 联表查询
func (h *StoreProductHandler) Find{{.LeftUpper}}2{{.RightUpper}}(ctx context.Context, req *pb.Get{{.LeftUpper}}2{{.RightUpper}}Req) (*pb.Get{{.LeftUpper}}2{{.RightUpper}}Resp, error) {
	start := time.Now()
	logger.Business.Infow("handle find {{.LeftLower}} 2 {{.RightLower}}", "id", req.Id)

	result, err := h.svc.Get{{.LeftUpper}}{{.RightUpper}}(ctx, int64(req.Id))
	if err != nil {
		logger.Business.Errorw("find {{.LeftLower}} 2 {{.RightLower}} failed", "error", err.Error())
		return nil, err
	}

	logger.Business.Infow("find {{.LeftLower}} 2 {{.RightLower}} success", "id", req.Id, "duration", time.Since(start).String())

	// 转换为 protobuf 响应
	resp := &pb.Get{{.LeftUpper}}2{{.RightUpper}}Resp{}
	copier.Copy(resp, result)
	return resp, nil
}
