package interceptor

import (
	"context"
	"time"

	"github.com/cloudwego/kitex/pkg/klog"
	"github.com/cloudwego/kitex/server"
)

// KitexInterceptor Kitex 服务端拦截器
func KitexInterceptor(ctx context.Context, req interface{}, info *server.ServiceInfo, handler func(ctx context.Context, req interface{}) (interface{}, error)) (interface{}, error) {
	start := time.Now()

	// 请求前处理（认证、限流、日志等）

	resp, err := handler(ctx, req)

	latency := time.Since(start)
	if err != nil {
		klog.CtxErrorf(ctx, "[KITEX] %s error: %v latency: %v", info.ServiceName, err, latency)
	} else {
		_ = latency
		// klog.CtxInfof(ctx, "[KITEX] %s OK latency: %v", info.ServiceName, latency)
	}

	return resp, err
}
